/* ----------------------------- */
/* ---------- FONTS ---------- */
/* ----------------------------- */
@font-face {
  font-family: "Favorit";
  src: url("assets/Favorit\ Medium.ttf");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Favorit";
  src: url("assets/Favorit\ Light.ttf");
  font-weight: normal;
  font-style: normal;
}

/* ----------------------------- */
/* ---------- GENERAL ---------- */
/* ----------------------------- */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.bold {
  font-style: bold;
}
button {
  font-size: 13px;
  cursor: pointer;
  border: 0.5px solid #dad9d9;
  border-radius: 25px;
  padding: 8px 18px 8px 18px;
  box-shadow: 0 4px #999;
  background-color: #dad9d9;
  color: #001fcc;
}
button:hover {
  background-color: #cecece;
  border: 0.5px solid #cecece;
}
button:active {
  box-shadow: 0 0px #999;
  transform: translateY(3px);
}

.blackfont {
  color: black;
}

p {
  /* color: #00a74f; */
  color: black;
  font-family: "Favorit", Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

span,
div {
  font-family: "Favorit";
}

/* ----------------------------- */
/* ---------- HOME ---------- */
/* ----------------------------- */

.bio-contact-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px 0px 0px 5px;
}
.bio {
  margin: 35px 0px 0px 0px;
}

.badges-bio-desktop-container {
  position: absolute;
  bottom: 4%;
  left: 0;
  display: flex;
  flex-direction: column;
  /* gap: 9px; */
}

.badges-bio-mobile-container {
  display: none;
}
.badges,
.badges-mobile {
  display: flex;
  gap: 9px;
}
.badge {
  align-content: flex-end;
}

.badge:hover {
  cursor: grab !important;
}
.black {
  border: solid black 1px;
}
.mainbody {
  width: 100vw;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.subscript {
  font-size: 15px;
}

.border {
  border: solid 1px #00a74f;
  padding: 2px 2px 2px 10px;
}

#spacerR {
  height: 1.5vh;
  border-bottom: 1px solid #00a74f;
}

#spacer,
#p1spacer,
#p2spacer,
#p3spacer,
#p4spacer,
#p5spacer,
#p6spacer,
#p7spacer,
#p8spacer,
#p9spacer {
  height: 1.5vh;
}

#left-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
  margin-left: 1vw;
  width: 35vw;
  height: 100%;
  position: fixed;
  gap: 8vh;
}
.green {
  color: #00a74f;
}
.project-links {
  color: #00a74f;
  font-size: 3.2rem;
  font-family: "Favorit";
  text-decoration: none;
  /* border: solid black 1px; */
}

.project-links:hover {
  font-style: italic;
}

#personalLinks {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 2vh;
  width: 100%;
}

#personalLinks a {
  font-size: 17px;
  color: #00a74f;
  font-family: "FavoritMed";
  text-decoration: none;
  margin-right: 5vw;
  margin-top: auto;
  /* border: 1px solid black; */
}
.times {
  font-family: "Times New Roman", Times, serif;
}

.georgia {
  font-family: "Georgia";
  line-height: 1.3em;
}

#personalLinks a:hover {
  transform: scale(1.2);
}
.linkdiv {
  width: 89%;
  gap: 6%;
}

#right-wrapper {
  height: 100%;
  width: 50vw;
  left: 43vw;
  position: absolute;
  /* border: 1px solid black ;  */
}

#project1container,
#project2container,
#project3container,
#project4container,
#project5container,
#project6container,
#project7container,
#project8container,
#project9container,
#projectcontainer {
  width: 50vw;
  height: 48vh;
  /* background-color:rgba(0, 0, 0, 1); */
  margin: 0;
  padding: 0;
  /* border: solid 1px black; */
}

#project1img,
#project2img,
#project3img,
#project4img,
#project5img,
#project6img,
#project7img,
#project8img,
#project9img {
  /* width: 50vw;
    height: 48vh; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

#project1text p,
#project2text p,
#project3text p,
#project4text p,
#project5text p,
#project6text p,
#project7text p,
#project8text p,
#project9text p {
  padding-top: 0.5vh;
}

/* FOR EACH PROJECT PAGE  */
h1 {
  padding: 0;
  margin: 0;
  color: #00a74f;
  font-family: "Favorit";
  /* font: 600; */
  font-size: 24px;
  letter-spacing: 0.8px;
}

.blackh1 {
  padding: 0;
  margin: 0;
  color: black;
  font-family: Helvetica;
  font-weight: normal;
}

h2 {
  /* color: #00a74f; */
  color: black;
  font-family: "Favorit";
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 5px;
}
h3 {
  /* color: #00a74f; */
  color: black;
  font-family: "Favorit";
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 5px;
}
#projectbodycontainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 50px 0vh 1vh 0vh;
}

#projectbody {
  width: 55vw;
  margin-bottom: 2px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  margin-bottom: 2vh;
  align-items: flex-end;
}

.gray {
  opacity: 1;
  color: #6f6e6e;
  font-size: 15px;
}
#description {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 10px;
  /* gap: 1.5vh; */
}

.pagelinks {
  color: #00a74f;
  /* color: #f05124; */
  font-family: "Favorit";
}

.pagelinks:visited {
  /* color: #001FCC; */
  color: #00a74f;
}
/* home button at bottom of pages desktop  */

.homegifdiv {
  width: 8vh;
}
.homegif {
  width: 100%;
  /* style="width: 100%; height: auto; display: block" */
}

/*slideshow */

#slideshow {
  /* width: 100%; */
  height: calc(50vw * 0.6);
  /* margin-bottom: 40px; */
  padding: 10px;
  border: 0.7px solid black;
}

#horizontalscreenshot {
  width: 90%;
  margin: auto;
  display: block;
}

.slide img,
.myImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: -55%;
}

.prev,
.next {
  display: block;
  cursor: pointer;
  /* position: absolute; */
  /* top: 45%; */
  background-color: (255, 255, 255, 0.1);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  border-radius: 3px 0 0 3px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

/* WHAT I DO DESKTOP */
.skillcontainer {
  display: flex;
  flex-direction: column;
  gap: 1.1vw;
}

.skillsections {
  /* flex-direction: column; */
  flex-grow: 1;
  flex-basis: 0;
}

.row1,
.row2 {
  gap: 12px;
}

/* Dollhouse desktop */

.dollhouse-headeritem1 {
  grid-column: 1/3;
}
.dollhouse-headeritem2 {
  grid-column: 4/5;
}
.dollhouse-headeritem3 {
  grid-column: 6/8;
}
.dollhouse-headeritem4 {
  grid-column: 9/11;
}

.sketch {
  display: flex;
  width: 30%;
  float: right;
  border: solid 1px black;
  margin: 4px;
  margin: 4px;
  padding: 2px;
}

.linksandhomecontainer {
  display: grid;
  width: 100%;
  align-items: baseline;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.demolink {
  grid-column: 1/5;
  grid-row: 1/2;
}

.gameplaylink {
  grid-column: 5/9;
  grid-row: 1/2;
}

.homediv {
  grid-column: 14/15;
  grid-row: 1/2;
}

/* Providence desktop */
.providence-headeritem1 {
  grid-column: 1/3;
}
.providence-headeritem2 {
  grid-column: 4/5;
}
.providence-headeritem3 {
  grid-column: 6/9;
}
.providence-headeritem4 {
  grid-column: 10/14;
}

.keyaspectsdiv {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto auto;
  /* width: 100%; */
  max-width: 800px;
}
.keyaspectsheader {
  grid-column: 1 / -1;
}
.bracketdiv {
  grid-column: 1/2;
  overflow: hidden;
}
.bracketimg {
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; */
}
.bulletsdiv {
  grid-column: 2 / 22;
  margin-left: 8px;
}

.pressandhomediv {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(15, 1fr);
  margin-bottom: 3vh;
}

.presslinks {
  grid-column: 1/13;
  grid-row: 1/12;
}
.press {
  text-decoration: none !important;
  color: black !important;
}

/* Oblivion desktop  */
.oblivion-headeritem1 {
  grid-column: 1/3;
}
.oblivion-headeritem2 {
  grid-column: 4/6;
}
.oblivion-headeritem3 {
  grid-column: 7/11;
}
.contributions-twocolumn {
  display: flex;
}
.homediv-wide {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5vh;
  margin-top: 5px;
}

/* letsplay */

#play-image-box {
  width: 50%;
  margin-left: -3px;
  /* background-color: #05A556; */
}
#play-image-box img {
  max-width: 100%;
}

#play-info {
  margin-left: 1vw;
}

#foot-image-box img {
  max-width: 100%;
}
#foot-info {
  width: 50%;
  margin-left: -1vw;
  margin-right: 1vw;
}

#originaljoan {
  width: 95%;
}

/* game page */
#game-image-box {
  width: 50%;
}

#game-image-box img {
  max-width: 100%;
}
/* #game-info{
    width: 45%;
    margin-left: 6vw;
    margin-right: 1vw;
} */

#game-info {
  width: 50%;
  margin-left: 2vw;
}

/* FORM */
.formpage-wrapper {
  margin: 20px auto auto auto;
  text-align: left;
  width: 90%;
  /* border: solid black 1px; */
}

.formpage-wrapper h1 {
  margin-left: 3px;
}

#babylon-holder {
  width: 70%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  transform: scale(0.8);
  float: left;
}

#instructions {
  /* padding: 0px;  */
  width: 30%;
  height: 100%;
  float: left;
  color: #00a74f;
  font-family: "FavoritMed";
  font-size: 50px;
}

.p5nav,
.gamenav {
  padding: 1%;
  width: 26%;
  height: 100%;
  display: block;
  float: left;
}

ul {
  font-size: 12pt;
  line-height: 20pt;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-family: "Favorit", Helvetica, sans-serif;

  /* display: block; commenting this and the next item out because it messes up the expandable list  */
  /* list-style-type: disc; */
  /* margin-block-start: 1em;
    margin-block-end: 1em; */
  /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

li {
  font-size: 15pt;
  list-style-type: none;
  padding-bottom: 1em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.content {
  padding: 1%;
  width: 50%;
  display: block;
  float: left;
}

.fullwidth {
  width: 100%;
  float: left;
  display: block;
}

.halfwidth {
  width: 75%;
  float: left;
  display: block;
}

.p5pic {
  width: 200px;
  height: auto;
  display: block;
  /* float: center; */
  margin-bottom: 2%;
}

.gamepic {
  width: 600px;
  height: auto;
  display: block;
  /* float: center; */
  margin-bottom: 2%;
}
.bluelink a {
  text-decoration: none;
}
.bluelink a:visited {
  color: #0000ee !important;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #f05124;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #00a74f;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
#backlink {
  font-size: 30px;
}

.providenceGrid {
  display: flex;
  justify-content: center;
  border: 1.5px solid #00a74f;
  padding: 3px 0px 0px 0px;
}

/* 3d scene grid  now being used for providence pictures */
.scenecontent {
  padding: 1%;
  width: 65vw;
}

/* .row {
    display: flex;
    flex-direction: row;
    padding: 0 4px;
  }  */

/* Create four equal columns that sits next to each other
  .column {
    /* flex: 25%;
    max-width: 50%;
    padding: 0 4px; */
/* display: flex;
    flex-direction: column;
  } */

/* .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  } *
  
  
/

/* MOBILE STYLING  */

@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .badges-bio-desktop-container {
    display: none;
  }

  .badges-bio-mobile-container {
    display: flex;
  }

  .badges-mobile {
    display: flex;
    padding-right: 5px;
    padding-bottom: 8px;

    justify-content: flex-end;
    gap: 7px;
  }

  .bio {
    margin: 2vh 0px 0px 0px;
    width: 75vw;
  }

  #left-wrapper {
    /*now top wrapper  */
    width: 95vw;
    position: relative;
  }

  #projects-flex {
    /* hiding project titles */
    display: none;
  }
  #right-wrapper {
    position: relative;
    left: 0;
    width: 95vw;
  }

  #project1container,
  #project2container,
  #project3container,
  #project4container,
  #project5container,
  #project6container,
  #project7container,
  #project8container,
  #project9container {
    height: 30vh;
    width: 100vw;
  }

  #project1text,
  #project2text,
  #project3text,
  #project4text,
  #project5text,
  #project6text,
  #project7text,
  #project8text,
  #project9text,
  #spacerR {
    position: relative;
    left: 2vw;
  }

  #project1img,
  #project2img,
  #project3img,
  #project4img,
  #project5img,
  #project6img,
  #project7img,
  #project9img {
    left: auto;
    right: auto;
  }

  #projectbody {
    width: 94vw;
    padding: 0;
    margin: 3vw 5vw 0vw 5vw;
  }
  .linkdiv,
  .linksandhomecontainer {
    flex-direction: column;
    margin-top: 4px;
    align-items: flex-start;
  }
  .linkdiv {
    gap: 10px;
    margin-bottom: 10px;
  }

  /* home button at bottom of pages mobile  */
  .homegifdiv {
    width: 6vh;
  }

  #slideshow {
    /* width: 100%; */
    height: calc(50vw * 0.8);
    /* margin-bottom: 40px; */
  }

  /* Dollhouse mobile */

  .dollhouse-headeritem1 {
    grid-column: 1/5;
  }
  .dollhouse-headeritem2 {
    grid-column: 6/8;
  }
  .dollhouse-headeritem3 {
    grid-column: 9/13;
  }
  .dollhouse-headeritem4 {
    grid-column: 14/16;
  }

  .linksandhomecontainer {
    margin-top: 8px;
  }

  .demolink {
    grid-column: 1/10;
    grid-row: 1/2;
  }

  .gameplaylink {
    grid-column: 1/10;
    grid-row: 1/2;
    margin-top: 40px;
  }
  .homediv {
    grid-row: 1/2;
  }

  /* Providence mobile */
  .providence-headeritem1 {
    grid-column: 1/5;
  }
  .providence-headeritem2 {
    grid-column: 6/8;
    margin-left: 10px;
  }
  .providence-headeritem3 {
    grid-column: 8/13;
    margin-left: 15px;
  }
  .providence-headeritem4 {
    grid-column: 13/17;
    margin-left: 5px;
  }
  .bracketdiv {
    grid-column: 1/3;
    padding-top: 12px;
  }
  .bracketimg {
    height: 92%;
  }
  .bulletsdiv {
    grid-column: 3 / 25;
    margin-left: 8px;
  }

  /* Oblivion mobile  */
  .oblivion-headeritem1 {
    grid-column: 1/5;
  }
  .oblivion-headeritem2 {
    grid-column: 6/8;
  }
  .oblivion-headeritem3 {
    grid-column: 9/16;
  }
  .contributions-twocolumn {
    gap: 7px;
  }
}
/*END OF MOBILE STYLING */

.providenceGrid {
  justify-content: center;
}

/* ajf;kasdfa */

/* for the expandable list  */
button[aria-expanded]::after {
  content: "+";
}
button[aria-expanded="true"]::after {
  content: "-";
}

.gamenav button {
  border: none;
  font-size: 1em;
  background: transparent;
  padding: 0;
  box-shadow: none;
}

.indent {
  padding-left: 2vw;
}

.center {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 25%;
  border: solid 1px black;
}
/* end of expandable list styling  */
