

/* GENERAL */
@font-face{
    font-family: 'FavoritMed';
    src:  url('assets/Favorit\ Medium.ttf'); 
}

@font-face{
    font-family: "Favorit"; 
    src: url("assets/Favorit\ Light.ttf")
}

body{
    background-color: #d1cebf;
    margin: 0;
}


button{
    font-size: 13px;
    cursor: pointer;
    border: .5px solid #DAD9D9 ;
    border-radius: 25px;
    padding: 8px 18px 8px 18px;
    box-shadow: 0 4px #999;
    background-color: #DAD9D9;
    color: #001FCC;
}
button:hover{
    background-color: #CECECE;
    border: .5px solid #CECECE ;

}
button:active {
    box-shadow: 0 0px #999;
    transform: translateY(3px);
}

/* for the expandable list  */
button[aria-expanded]::after {
    content: "+";
  }
button[aria-expanded="true"]::after {
    content: "-";
  }

.gamenav button {
  border: none;
  font-size: 1em;
  background: transparent;
  padding: 0;
  box-shadow: none; 

}

.indent {
    padding-left: 2vw; 
}


/* end of expandable list styling  */




p {
    color: #f05124;
    font-family: "Favorit", Helvetica, sans-serif;
}




/* JUST FOR THE MAIN PAGE  */
#main-wrapper{
    display: flex;
    margin-top: 20px;
}


#home-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
    /* border: solid black 1px; */
    margin: 0;
    padding-right: 10vw;
} 

#projects-flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: solid black 1px; */
    margin-left: 2vw;
} 


.mainlinks{ 
    color: #f05124;
    font-size: 70px;
    font-family: "Favorit";
    text-decoration: none; 

    /* border: solid black 1px; */
}
 
.mainlinks:hover{
    font-style: italic;
}




#personalLinks{
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
}

#personalLinks a{
    font-size: 17px;
    color: #f05124;
    font-family: "FavoritMed";
    text-decoration: none;
    margin-right: 5vw;
    margin-top: 2vw;
    /* border: 1px solid black ;  */
} 
#personalLinks a:hover{
    transform: scale(1.2);
}




/* ALL PAGES  */


h1{
    color: #f05124;
    font-family: "FavoritMed";
    font-size: 40px;
}

.page-wrapper{
    display:flex; 
}

.pagelinks{
    color: #f05124;
    font-family: "Favorit";
}

.pagelinks:visited{
    color: #001FCC;
}


/* bead page  */

#flower-image-box{
    width: 50%;
}
#flower-image-box img {
    max-width: 80%;
    margin-top: -55px;
}

#flower-info{
    width: 50%;
    margin-left: -9vw;
}



/* quinn page  */
#quinn-image-box{
    width: 55%;
}

#quinn-image-box img{
    margin-top: -1.5vw;
    max-width: 95%;
}

#quinn-info{
    margin-left: -2vw;
    width: 50%;
}


/* letsplay */

#play-image-box{
    width: 50%;
    margin-left: -3px;
    /* background-color: #05A556; */
}
#play-image-box img{
    max-width: 100%;
}

#play-info{
    margin-left: 1vw;
}


/* foot  */
/* #foot-image-box{
    width: 50%;
}
*/

#foot-image-box img{
    max-width: 100%;
} 
#foot-info{
    width: 50%;
    margin-left: -1vw;
    margin-right: 1vw;
} 

#originaljoan{
    width: 95%;
}


/* game page */
#game-image-box{
    width: 50%;
}

#game-image-box img{
    max-width: 100%;
}
/* #game-info{
    width: 45%;
    margin-left: 6vw;
    margin-right: 1vw;
} */

#game-info{
    width: 50%;
    margin-left: 2vw;
}




/* FORM */
.formpage-wrapper{
    margin: 20px auto auto auto;
    text-align: left;
    width: 90%;
    /* border: solid black 1px; */
}

.formpage-wrapper h1{
    margin-left: 3px;
}



#babylon-holder {
    width: 70%;
    height: 100%;
    padding: 0px; 
    margin: 0px; 
    transform: scale(0.8);
    float: left; 
}

#instructions {
    /* padding: 0px;  */
    width: 30%;
    height: 100%;
    float: left;
    color: #f05124;
    font-family: "FavoritMed";
    font-size: 50px;

}

.p5nav, .gamenav{
    padding: 1%;
    width: 26%;
    height: 100%;
    display: block;
    float: left;
}



ul{
    font-size: 12pt;
    line-height: 20pt;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-family: "Favorit", Helvetica, sans-serif;


    /* display: block; commenting this and the next item out because it messes up the expandable list  */
    /* list-style-type: disc; */
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

li {
    font-size: 15pt;
    list-style-type: none;
    padding-bottom: 1em;
    display: list-item;
    text-align: -webkit-match-parent;
}

.content {
    padding: 1%;
    width: 50%;
    display: block;
    float: left; 
}

.fullwidth{
    width: 100%;
    float:left;
    display: block;
}

.halfwidth{
    width:75%;
    float:left;
    display: block;
}

.p5pic{
    width: 200px;
    height: auto;
    display:block;
    /* float: center; */
    margin-bottom: 2%;
}

.gamepic{
    width: 600px;
    height: auto;
    display:block;
    /* float: center; */
    margin-bottom: 2%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    border-top: 4px solid #f05124;
  }

.footer  a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #f05124;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}



/* 3d scene grid  */
.scenecontent {
    padding: 1%;
    width: 65vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/* img {
    animation: fadeInAnimation 2s;
} */